# Printing the English Alphabet M

In [1]:
for row in range(7):    
    for col in range(7):     
        if(col==1 or col==5 or(row==2 and(col==2 or col==4))or(row==3 and col==3)):   
            print("*",end="")
        else:
            print(end=" ")
    print()

 *   *
 *   *
 ** **
 * * *
 *   *
 *   *
 *   *

In [11]:
a="";    

for row in range(0,7):    
    for column in range(0,7):     
        if (column == 1 or column == 5 or (row == 2 and (column == 2 or column == 4)) or (row == 3 and column == 3)):  
            a+="@ "    
        else:      
            a+="  "    
    a+="\n"    

print(a)

  @       @
  @       @
  @ @   @ @
  @   @   @
  @       @
  @       @
  @       @

In [2]:
a="";    
for row in range(7):    
    for col in range(7):     
        if(col==1 or col==5 or(row==2 and(col==2 or col==4))or(row==3 and col==3)):  
            a=a+"#"    
        else:      
            a=a+" "    
    a=a+"\n"     
print(a);

 #   #
 #   #
 ## ##
 # # #
 #   #
 #   #
 #   #

In [3]:
for row in range(7):    
    for col in range(7):     
        if(col==1 or col==5 or(row==2 and(col==2 or col==4))or(row==3 and col==3)):   
            print("$",end="")
        else:
            print(end=" ")
    print()

 $   $
 $   $
 $$ $$
 $ $ $
 $   $
 $   $
 $   $

In [5]:
a="";    
for row in range(7):    
    for col in range(7):     
        if(col==1 or col==5 or(row==2 and(col==2 or col==4))or(row==3 and col==3)):  
            a+="&"    
        else:      
            a+=" "    
    a+="\n"     
print(a);

 &   &
 &   &
 && &&
 & & &
 &   &
 &   &
 &   &

In [10]:
a="";    

for row in range(0,7):    
    for column in range(0,7):     
        if (column == 1 or column == 5 or (row == 2 and (column == 2 or column == 4)) or (row == 3 and column == 3)):  
            a+="# "    
        else:      
            a+="  "    
    a+="\n"    

print(a)

  #       #
  #       #
  # #   # #
  #   #   #
  #       #
  #       #
  #       #