# Printing the English Alphabet D

In [1]:
for row in range(7):    
    for col in range(7):     
        if(col==1 or((row==0 or row==6)and(col>1 and col<5))or(col==5 and row!=0 and row!=6)):    
            print("*",end="")
        else:
            print(end=" ")
    print()

 ****
 *   *
 *   *
 *   *
 *   *
 *   *
 ****

In [3]:
a="";    
for Row in range(0,7):    
    for Col in range(0,7):     
        if (Col == 1 or ((Row == 0 or Row == 6) and (Col > 1 and Col < 5)) or (Col == 5 and Row != 0 and Row != 6)):  
            a+="#"    
        else:      
            a+=" "    
    a=a+"\n"    
print(a);

 ####
 #   #
 #   #
 #   #
 #   #
 #   #
 ####

In [5]:
a="";    
for row in range(0,7):    
    for column in range(0,7):     
        if (column == 1 or ((row == 0 or row == 6) and (column > 1 and column < 5)) or (column == 5 and row != 0 and row != 6)):  
            a+="@"    
        else:      
            a+=" "    
    a+="\n"    
print(a);

 @@@@
 @   @
 @   @
 @   @
 @   @
 @   @
 @@@@