# Printing the English Alphabet R

In [1]:
for row in range(7):    
    for col in range(7):     
        if(col==1 or((row==0 or row==3)and col>1 and col<5)or(col==5 and row!=0 and row<3)or(col==row-1 and row>2)):
            print("*",end="")
        else:
            print(end=" ")
    print()

 ****
 *   *
 *   *
 ****
 * *
 *  *
 *   *

In [2]:
a="";    
for Row in range(0,7):    
    for Col in range(0,7):     
        if(Col==1 or((Row==0 or Row==3)and Col>1 and Col<5)or(Col==5 and Row!=0 and Row<3)or(Col==Row-1 and Row>2)):  
            a=a+"@"    
        else:      
            a=a+" "    
    a=a+"\n"    
print(a);

 @@@@
 @   @
 @   @
 @@@@
 @ @
 @  @
 @   @

In [3]:
a="";    
for row in range(8):    
    for col in range(7):     
        if(col==1 or((row==0 or row==3)and col>1 and col<5)or(col==5 and row!=0 and row<3)or(col==row-1 and row>2)): 
            a=a+"#"    
        else:      
            a=a+" "    
    a=a+"\n"    
print(a)

 ####
 #   #
 #   #
 ####
 # #
 #  #
 #   #
 #    #

In [4]:
a="";    
for Row in range(0,7):    
    for Col in range(0,7):     
        if(Col==1 or((Row==0 or Row==3)and Col>1 and Col<5)or(Col==5 and Row!=0 and Row<3)or(Col==Row-1 and Row>2)):  
            a=a+"R"    
        else:      
            a=a+" "    
    a=a+"\n"    
print(a);

 RRRR
 R   R
 R   R
 RRRR
 R R
 R  R
 R   R

In [5]:
a="";
for row in range(0,8):    
    for col in range(0,7):     
        if(col==1 or((row==0 or row==3)and col>1 and col<5)or(col==5 and row!=0 and row<3)or(col==row-1 and row>2)):
            a=a+"&"    
        else:      
            a=a+" "    
    a=a+"\n"    
print(a)

 &&&&
 &   &
 &   &
 &&&&
 & &
 &  &
 &   &
 &    &

In [6]:
a="";    
for row in range(8):    
    for col in range(7):     
        if(col==1 or((row==0 or row==3)and col>1 and col<5)or(col==5 and row!=0 and row<3)or(col==row-1 and row>2)): 
            a=a+"$"    
        else:      
            a=a+" "    
    a=a+"\n"    
print(a)

 $$$$
 $   $
 $   $
 $$$$
 $ $
 $  $
 $   $
 $    $

In [7]:
for row in range(8):    
    for col in range(7):     
        if(col==1 or((row==0 or row==3)and col>1 and col<5)or(col==5 and row!=0 and row<3)or(col==row-1 and row>2)):
            print("+",end="")
        else:
            print(end=" ")
    print()

 ++++
 +   +
 +   +
 ++++
 + +
 +  +
 +   +
 +    +