# Printing the English Alphabet E

In [1]:
for row in range(7):    
    for col in range(7):     
                if (col==1) or ((row==0 or row==6) and (col>1 and col<6)) or (row==3 and col>1 and col<5):    
                     print("*",end="")
                else:
                     print(end=" ")
    print()

 *****
 *
 *
 ****
 *
 *
 *****

In [3]:
a="";    
for row in range(0,7):    
    for column in range(0,7):     
        if (column == 1 or ((row == 0 or row == 6) and (column > 1 and column < 6)) or (row == 3 and column > 1 and column < 5)):  
            a+="#"    
        else:      
            a+=" "    
    a=a+"\n"    
print(a);

 #####
 #
 #
 ####
 #
 #
 #####

In [2]:
a="";    
for row in range(0,7):    
    for column in range(0,7):     
        if (column == 1 or ((row == 0 or row == 6) and (column > 1 and column < 6)) or (row == 3 and column > 1 and column < 5)):  
            a+="@"    
        else:      
            a+=" "    
    a=a+"\n"    
print(a);

 @@@@@
 @
 @
 @@@@
 @
 @
 @@@@@